.side-container{
  font-size: 16px;
  font-weight: 400px;
  
  color: rgba(0,0,0,.6)
}
.filter{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  border-bottom: 1px solid #c5c5c5;
  padding: 5px 5px;
}
.titles{
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0px;
  color: rgba(0,0,0,.8);
}
.stratagey-box,
.launch-date-box{
  margin-right: 8px;
  cursor: pointer;
  padding-bottom: 5px;
}
.invest-amount{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.fa-circle{
  visibility: hidden;
  cursor: pointer;
  color: rgba(0,0,0,0.6);
}
.subscription-type:hover .fa-circle{
  visibility: visible;
}
.stratagies{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label{
  display: flex;
  column-gap: 8px;
  cursor: pointer;
  font-size: 18px;
  text-align: start;
}
input{
  width: 16px;
  height: 16px;
}
.launch-date{
  display: flex;
  column-gap: 8px;
}
.invest{
  width: 18px;
  height: 18px;
  padding-top: 10px;
  cursor: pointer;
}

.save, .info{
  visibility: hidden;
}

.stock:hover .save, .titles:hover .info{
  visibility: visible;
}

.stock{
  padding: 20px ;
}

.stock:hover{
  border: solid 1px #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.category, .stratagey{
  padding: 5px;
}

.category:hover, .stratagey:hover{
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
}

.volatile:hover{
  cursor: pointer;
  background-color: rgba(0,0,255,.1);
}
.loadmore,
.no-stocks{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.filter-count{
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  margin-left: 8px;
  padding: 0px 5px;
}
.filter-header{
  display: flex;
}
.clear-all{
  cursor: pointer;
}
